<% title_name = Citation.human_name.capitalize %>
<h1><%= ts(:for, :what => t('list.ing.records', :what => Citation.human_name(:count => :many).capitalize), :whom => "#{Reference.human_name.titleize} #{@reference.id}") %></h1>

<% form_for(:citation, :url => @reference.class == Title ? medium_title_citations_path(@medium, @reference) : medium_title_translated_title_citations(@medium, @title, @reference)) do |f| %>
<%=  render :partial => 'form', :locals => {:f => f, :title_name => title_name} %>
     <p><%= globalized_submit_tag 'create.this' %></p>
<% end %>
<p>&nbsp;<br/>
<%= render :partial => 'persistent_links' %></p>