<h1><%= ts(:for, :what => t('new.record', :what => Citation.human_name.capitalize), :whom => @reference.title) %></h1>

<% form_for(:citation, :url => polymorphic_path(@reference_stack + [@citation])) do |f| %>
<%=  render :partial => 'form', :locals => {:f => f } %>
     <p><%= globalized_submit_tag 'create.this' %></p>
<% end %>
<p>&nbsp;<br/>
<%= render :partial => 'media/back_to_edit', :locals => {:anchor => 'captions'} %></p>