<%= display_if_not_blank Source.human_attribute_name('title').s, h(@source.title).s %>
<p>&nbsp;<br/>
<% path = edit_source_path(@source)
   if authorized? path %>
<%=  link_to ts('edit.this'), path %> |
<% end %>
<%= render :partial => 'persistent_links' %>
</p>