<h1>Done Rotation of Media Object <%= @medium.id %> by <%= @user.screen_name %></h1>
<p><%= render :partial => 'status' %></p>
<p>&nbsp;<br/>
<%= render :partial => 'media/back_to_edit', :locals => {:anchor => nil} %>
</p>