<h1>Editing rotation</h1>

<% form_for(@rotation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @rotation %> |
<%= link_to 'Back', rotations_path %>