<h1>Listing rotations</h1>

<table>
  <tr>
  </tr>

<% @rotations.each do |rotation| %>
  <tr>
    <td><%= link_to 'Show', rotation %></td>
    <td><%= link_to 'Edit', edit_rotation_path(rotation) %></td>
    <td><%= link_to 'Destroy', rotation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New rotation', new_rotation_path %>