<p>
  <b><%= CopyrightHolder.human_attribute_name('title').s %></b><br />
  <%= f.text_field :title %>
</p>
<p>
  <b><%= CopyrightHolder.human_attribute_name('website').s %></b><br />
  <%= f.text_field :website %>
</p>