<p>
  <b><%= ApplicationFilter.model_name.human.titleize.s %>:</b>
  <%=h @filter.title %>
</p>


<%= link_to 'Edit', edit_application_filter_path(@filter) %> |
<%= link_to ts('back.to', :what => t('all.records', :what => ApplicationFilter.model_name.human(:count => :many))), application_filters_path %>