<p>
  <b><%= ApplicationFilter.human_name.titleize.s %>:</b>
  <%=h @filter.title %>
</p>


<%= link_to 'Edit', edit_application_filter_path(@filter) %> |
<%= link_to ts('back.to', :what => t(:all, :what => ApplicationFilter.human_name(:count => :many))), application_filters_path %>