<% translated_title_name = TranslatedTitle.human_name.capitalize %>
<h1><%= ts :in, :what => t(:for, :what => t('edit.ing.record', :what => translated_title_name).titleize, :whom => @title.title.titleize), :where => "#{Medium.human_name.titleize} #{@medium.id}" %></h1>
<% form_for(:translated_title, :url => medium_title_translated_title_path(@medium, @title, @translated_title), :html => {:method => :put}) do |f| %>
<%=    render :partial => 'form', :locals => {:f => f, :translated_title_name => translated_title_name} %>
<p><%= globalized_submit_tag 'update.this' %></p>
<% end %>
<p>&nbsp;<br/>
<%= render :partial => 'persistent_links' %></p>