<p>
    <b><%= FileRenderer.human_attribute_name('title').s %></b><br />
<%= f.text_field :title %>
</p>
<p>
    <b><%= FileRenderer.human_attribute_name('path').s %></b><br />
<%= f.text_field :path %>
</p>