<%= display_if_not_blank RecordingOrientation.model_name.human.titleize.s, h(@recording_orientation.title).s %>
<p>&nbsp;<br/>
<% path = edit_recording_orientation_path(@recording_orientation)
   if authorized? path %>
<%=  link_to ts('edit.this'), path %> |
<% end %>
<%= render :partial => 'persistent_links' %>
</p>