<% if !@pictures.nil? || !@videos.nil? || !@documents.nil? %>
	<h2>Media Associated with <%= @topic.title %></h2>
<%=  render :partial => 'media/index' %>
<% elsif !@media.nil? %>
<%=  render :partial => 'media/paged_index_full' %>
<% end %>
<p><%= link_to ts(:in, :what => @topic.title, :where => 'Topics'), Category.element_url(@topic.id, :format => 'html') %></p>