/* -------- Begin MMS Browse template ----------------------------
---------------------------------------------------------------- */
/*--------- Global Style Overides ---------
-------------------------------------------*/
body.mms-media.single-col #content{background:#444; margin:-1px 0 30px; border-top:3px double #aaa}
body.mms-media.single-col #content .shell-1{width:97%; float:left; display:inline; margin:0 auto; padding-left:15px}
body.mms-media.single-col #ie-root #content{margin-top:-14px; border-top:3px double #222}

body.mms-media.single-col.wiki #body-wrapper #content, 
body.mms-media.single-col.wiki #ie-root #body-wrapper #content{background:#fff; border-top-width:0px}

/*--------- Side-Search Header -----------*/
h3.global-search{margin:-34px 0 0 !important; margin:-28px 0 0}
h3.global-search a, h3.global-search a:visited{background-color:#444 !important; height:20px; color:#ddd; padding:6px 32px 2px 0}
#ie-root h3.global-search a, h3.global-search a:visited{background-position:95% 50%}
h3.global-search a:hover{color:#fff}

/*--------- WIKI style fixes ------------*/
body.mms-media.wiki #content{background:#fff; margin-top:13px}
body.mms-media.wiki h3.global-search a, body.mms-media.wiki h3.global-search a:visited{background-color:#fff; color:#666}
body.mms-media.wiki h3.global-search a:hover{color:#000}

/*--------- adjust side-menu ------------*/
#fxSideMenuContent{width:215px; position:absolute; top:48px}
#ie-root #fxSideMenuContent{position:absolute; top:14px}

#thdl-search-link{margin:0; padding:0; display:none}

/* ----- Side-Column Home Link --------*/
h5#mms-top-link{text-align:right; background:transparent; font-size:110%; margin:7px 0 0 0; padding:0}
h5#mms-top-link a, h5#mms-top-link a:visited{color:#fff; display:inline; text-align:right; margin:0; padding:0 24px 0 0; background:transparent url(/global/images/icon1-home.png) no-repeat right center}
h5#mms-top-link a:hover, h5#mms-top-link a:active{text-decoration:underline}

/*------------ Begin Tabs Navigation ---------------*/
/* Caution! Ensure accessibility in print and other media types... */
/* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
@media projection, screen{.ui-tabs-hide{display:none}}
/* Hide useless elements in print layouts... */
@media print{.ui-tabs-nav{display:none}}
/* Skin */
.ui-tabs-nav ul, .ui-tabs-panel{ font-family:"Trebuchet MS",Trebuchet,Verdana,Helvetica,Arial,sans-serif;  font-size:140%}
.ui-tabs-nav ul{ list-style:none;  margin:0;  padding:9px 40px 0 4px; /*======== padding for top of content area =======*/}
.ui-tabs-nav:after{/* clearing without presentational markup,IE gets extra treatment */ display:block;  clear:both;  content:""}
.ui-tabs-nav ul li{ float:right;  margin:0 0 0 1px;  min-width:80px; /* be nice to Opera */}
.ui-tabs-nav ul li a, .ui-tabs-nav ul li a span{ display:block;  padding:2px 4px 0 5px;  background:#333; color:#c0c0c0}
.ui-tabs-nav ul a, .ui-tabs-nav ul a:visited{ margin:1px 0 0; /* position:relative makes opacity fail for disabled tab in IE */ padding-left:0;  color:#c0c0c0;  font-weight:normal;  line-height:1.25;  text-align:center;  text-decoration:none;  white-space:nowrap; /* required in IE 6 */  outline:0; /* prevent dotted border in Firefox */background:#333; border:1px solid #666; border-width:1px 1px 0px}
.ui-tabs-nav .ui-tabs-selected a, .ui-tabs-nav .ui-tabs-selected a:visited{ position:relative;  top:1px;  z-index:2; /*font-family:"Helvetica Neue","Lucida Grande",Helvetica,Arial,sans-serif; */ margin-top:0; background:#222; color:#fff; border:2px solid #ccc; border-width:2px 2px 0px}
.ui-tabs-nav a span{ width:64px; /* IE 6 treats width as min-width */ min-width:64px;  height:21px; /* IE 6 treats height as min-height */ min-height:21px;  padding-top:6px;  padding-right:0}
*>.ui-tabs-nav a span{/* hide from IE 6 */ width:auto;  height:auto}
.ui-tabs-nav a span em{ font-weight:normal; font-size:70%; font-style:normal; position:relative; top:-3px}
.ui-tabs-nav .ui-tabs-selected a span{ padding-bottom:0px; color:#fefefe; position:relative;  top:-1px; background:#222}
.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active{ color:#fefefe}
.ui-tabs-nav a:hover{border:1px solid #888; border-width:1px 1px 0px}

.ui-tabs-nav .ui-tabs-selected a span, .ui-tabs-nav a:hover span, .ui-tabs-nav a:focus span, .ui-tabs-nav a:active span{ color:#fefefe}
.ui-tabs-nav .ui-tabs-selected a{ color:#fefefe; border:2px solid #aaa; border-width:2px 2px 0px}

.ui-tabs-nav .ui-tabs-disabled a:hover span, .ui-tabs-nav .ui-tabs-disabled a:focus span, .ui-tabs-nav .ui-tabs-disabled a:active span{ color:#aaa}
.ui-tabs-nav .ui-tabs-disabled a:hover, .ui-tabs-nav .ui-tabs-disabled a:focus, .ui-tabs-nav .ui-tabs-disabled a:active{ border:1px solid #666; border-width:1px 1px 0px}
.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited, 
.ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited{/* @ Opera,use pseudo classes otherwise it confuses cursor... */ cursor:text}
.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active, 
.ui-tabs-nav .ui-tabs-unselect a:hover, .ui-tabs-nav .ui-tabs-unselect a:focus, 
.ui-tabs-nav .ui-tabs-unselect a:active{/* @ Opera,we need to be explicit again here now... */ cursor:pointer}

.ui-tabs-disabled{ opacity:.7;  filter:alpha(opacity=70)}
.ui-tabs-panel{ border:1px solid #97a5b0;  padding:1em 8px;  background:#fff; /* declare background color for container to avoid distorted fonts in IE while fading */}
.ui-tabs-loading em{ padding:0 0 0 20px; background:url(/global/images/loading.gif) no-repeat 0 100%}

/* Additional IE specific bug fixes... */
* html .ui-tabs-nav{/* auto clear,@ IE 6 &IE 7 Quirks Mode */ display:inline-block}
*:first-child+html .ui-tabs-nav{/* @ IE 7 Standards Mode - do not group selectors,otherwise IE 6 will ignore complete rule (because of the unknown+combinator)... */ display:inline-block}

div#wrap-mms-main{width:100%}
div#wrap-mms-main .ui-tabs-nav ul li{float:right; margin:0px 0 0 1px; min-width:84px; /* be nice to Opera */}
div#wrap-mms-main .ui-tabs-panel{float:left; width:98%; margin:0; background:#222; padding:0px 10px 10px 10px}

#mms-collections-header{position:relative}
#mms-collections-header img{position:absolute; top:2px; left:5px}
#mms-collections-header h2{display:inline; margin:0 0 0 5px; padding:0 0 0 25px; font-style:italic; color:#94c2e5; position:absolute; top:2px; z-index:1; font-family:"Trebuchet MS",arial,verdana,sans-serif; letter-spacing:0.06em; font-size:220%; font-weight:normal}

#wrap-mms-interface{clear:both; width:100%; margin:0; padding:0}
#wrap-mms-thumbs{overflow:hidden; background:#222; float:right; width:63%; margin:0 0 0; padding:15px 0 0}
#wrap-mms-viewer{overflow:hidden; background:#222; float:left; width:36%; margin:0 auto 20px; padding:35px 0 0; min-height:100%; height:auto !important; height:100%}

/*------------------ jQuery Galleria ----------------------*/
a.galleriaPrev{position:absolute; top:-18px; left:20px; width:45%; height:90%; z-index:10; display:block; border-width:0pt; opacity:0.4; filter:alpha(opacity=40); background:transparent url(/testing-area/mark/images/arrow-img-prev.gif)  no-repeat 90% top}
a.galleriaPrev:hover{background:transparent url(/testing-area/mark/images/arrow-img-prev.gif)  no-repeat 90% top; border-width:0pt; opacity:1; filter:alpha(opacity=100)}
a.galleriaNext{position:absolute; top:-18px; right:20px; width:45%; height:90%; z-index:10; display:block; border-width:0pt; opacity:0.4; filter:alpha(opacity=40); background:transparent url(/testing-area/mark/images/arrow-img-next.gif)  no-repeat 10% top}
a.galleriaNext:hover{background:transparent url(/testing-area/mark/images/arrow-img-next.gif) no-repeat 10% top; border-width:0pt; opacity:1; filter:alpha(opacity=100)}

#main_image{position:relative; }
#main_image{margin:0 auto; text-align:center; width:100%; min-height:270px; width:100%; background:#222}
#main_image img{-moz-border-radius:5px;  margin:0 auto; background:#222; padding:1px; border:5px solid #505050}
#main_image span.caption{color:#acacac; display:block; padding-top:.5em; margin-bottom:20px; font-size:0.86em}

#mms-imgList{list-style:none; width:100%; margin:0; padding:0}
#mms-imgList li{display:block; border-width:0px; border:1px solid #444; float:left; overflow:hidden; width:14%; background-color:#222 !important; padding:0 2px; margin:0 1% 1% 0 !important; height:85px; min-height:85px}
#mms-imgList li a{display:none; border-width:0px; background-color:#222 !important}
#mms-imgList li div{position:absolute; display:none; top:0}
#mms-imgList li div img{cursor:pointer}
#mms-imgList li.active{ border:1px solid #ccc}
#mms-imgList li.active div img, .galleria li.active div{display:block}
#mms-imgList li img.thumb{cursor:pointer; top:auto; left:auto; display:block; width:auto; height:auto}
* html #mms-imgList li div span{width:400px}/* MSIE bug */

#wrap-mms-viewer h6{color:#999; font-weight:normal;  margin:0 0 15px; padding:0; text-align:center; width:100%; font-size:70%; line-height:150%}
#wrap-mms-viewer h6 a, #wrap-mms-viewer h6 a:visited{border-width:0px; color:#94c2e5; background:#222; margin:0; padding:0 5px; font-size:100%; line-height:normal; border-bottom-width:0px}
#wrap-mms-viewer h6 a:hover{color:#fff}

dl#mms-subtext{margin:0px 10px 0 5px; padding:0;  width:95%; font-size:100%; line-height:130%;  font-family:"Helvetica Neue","Lucida Grande",Helvetica,arial,sans-serif}
dl#mms-subtext dt{color:#fff; margin:0; padding:10px 10px 7px 10px; font-weight:normal; text-align:left; width:100%; font-size:90%; line-height:150%; border-top:3px double #444}
dl#mms-subtext dd{color:#ddd; margin:0; padding:0 10px 7px 10px; text-align:left; font-size:90%; line-height:150%}
dl#mms-subtext dd a, dl#mms-subtext dd a:visited{border-width:0px; color:#94c2e5; padding:0 2px 1px; font-size:100%; line-height:normal; font-family:verdana,arial,sans-serif}
dl#mms-subtext dd a:hover{color:#fff}
dl#mms-subtext dd em{color:#ddd;  margin:5px 0 0; padding:0 4px 0 0; font-size:110%; font-style:normal}
dl#mms-subtext dd.keywords{border-top:3px double #444; padding:10px; font-size:80%; font-family:verdana,arial,sans-serif}
dl#mms-subtext dd.mms-rights{border-top:3px double #444; border-bottom:3px double #444; margin:0; padding:10px; text-align:left; width:95%; font-size:80%; line-height:130%;  font-family:verdana,arial,sans-serif}
dl#mms-subtext dd.mms-details{width:100%; padding:5px 0; margin:5px 0 0; border-top:3px double #444; text-align:center}
dl#mms-subtext dd.mms-details a, dl#mms-subtext dd.mms-details a:visited{line-height:140%; font-style:italic}
dl#mms-subtext dd.mms-details a:hover{color:#fff}

#page-count{color:#999; position:relative; right:30px; top:-5px; margin:0; padding:0 0 0 3px; text-align:right; width:100%;  font-size:80%; font-family:verdana,arial,sans-serif}
#page-count a, #page-count a:visited{background:#222; color:#c0c0c0; margin:0px; padding:0 2px; font-size:90%; text-decoration:none;  border-width:0px}
#page-count a:hover{color:#fff; background:#222; border-width:0px; text-decoration:none}
#page-count span{color:#ccc; font-weight:bold; padding-right:0px}
#page-count a.nextpage, #page-count a.nextpage:visited{color:#c0c0c0; background:#222 url(/testing-area/mark/images/arrow-grey-next.gif) no-repeat right 55%; margin:0 10px 0 0; padding:0 10px 0 3px; font-size:90%; text-decoration:none;  border-width:0px}
#page-count a.nextpage:hover{color:#fff}


/*------ popup metdata nyroModal */
#mms-data-popup-wrapper{color:#444; background:#ededed; margin:0; padding:10px; font-family:verdana,arial,sans-serif; text-align:left}
/*------ basic data styles */
#mms-data-popup{background:#fff; margin:0; padding:5px 20px 20px; width:91%; border:3px double #aaa}
#mms-data-popup dt{color:#00a; padding:0 5px; margin:0; display:inline; border-bottom:1px solid #00a; font-weight:bold; font-size:130%; line-height:normal; font-family:"Trebuchet MS","Lucida Grande",Helvetica,arial,sans-serif}
#mms-data-popup dd{margin:9px 0 0; padding:0; font-size:100%; line-height:normal}
#mms-data-popup dd a, #mms-data-popup dd a:visited{padding:0; margin:0;  border-width:0px; color:#444; text-decoration:none; border-bottom:1px solid #C3CFA8;  background:transparent}
#mms-data-popup dd a:hover{background:#eff3f4; color:#222; text-decoration:none; border-bottom:1px solid #777}
/*------ special data groups */
#mms-data-popup dd.media-rights{font-size:80%; line-height:130%; border-top:3px double #555; border-bottom:3px double #555; padding:7px 12px}
#mms-data-popup dd em{margin:5px 0 0; padding:0; font-style:normal; font-weight:bold; font-size:110%; font-family:arial,sans-serif}
#mms-data-popup dd img{float:right; background:#fff; border:1px solid #888; margin:10px 0 10px 15px; padding:4px}
#mms-data-popup dd a.nyroModalClose{position:absolute; display:block; top:5px; right:5px; z-index:1000; width:30px; height:30px; text-indent:-9999em; opacity:0.7; filter:alpha(opacity=70); background:transparent url(/global/images/btn-closebox.png) no-repeat !important; background:transparent url(/global/images/btn-closebox.gif) no-repeat; outline:0; border-width:0px}

/*--------- image popup nyroModal ----------*/
div#nyroModalFull{color:#eee; font-family:arial,verdana,sans-serif; font-size:12px; line-height:18px}
div#nyroModalLoading{border:4px solid #777; width:150px; height:150px; text-indent:-9999em; background:#222 url(/global/images/ajax-goldloader.gif) no-repeat; background-position:center}
div#nyroModalLoading.error{border:4px solid #f66; line-height:20px; padding:20px; width:300px; height:100px; text-indent:0; background:#fff}
div#nyroModalWrapper{background:#fff; border:4px double #606060}
a#closeBut{position:absolute; display:block; top:0px; right:0px; z-index:1000; width:30px; height:30px; text-indent:-9999em; opacity:0.2; filter:alpha(opacity=20); background:transparent url(/global/images/btn-closebox.png) no-repeat !important; background:transparent url(/global/images/btn-closebox.gif) no-repeat; outline:0}
div.wrapper div#nyroModalContent{padding:5px}
div.wrapperImg div#nyroModalContent{position:relative; overflow:hidden; text-align:center}
div.wrapperImg img{vertical-align:baseline}
div.wrapperImg div#nyroModalContent div{/*=== caption ====*/position:absolute; bottom:0; left:0; z-index:1000; background:black; padding:10px; margin:0px; overflow:hidden; opacity:0.0; filter:alpha(opacity=0)}
div.wrapperImg div#nyroModalContent div:hover{/*=== caption on hover ====*/opacity:0.7; filter:alpha(opacity=70); cursor:normal}
div.wrapperImg a{outline:none; position:absolute; top:0; height:100%; cursor:pointer; text-indent:-9999em; background-image:url(data:image/gif; base64,AAAA); /* Trick IE6 */}
a.nyroModalPrev{left:0; width:40%; opacity:0.3; filter:alpha(opacity=30); background:url(/global/images/arrow-lft-box.png) left 75% no-repeat !important; background:url(/global/images/arrow-lft-box.gif) left 75% no-repeat}
a.nyroModalPrev:hover{opacity:0.75; filter:alpha(opacity=75); background:url(/global/images/arrow-lft-box.png) left 75% no-repeat !important; background:url(/global/images/arrow-lft-box.gif) left 75% no-repeat}
a.nyroModalNext{right:0; width:40%; opacity:0.3; filter:alpha(opacity=30); background:url(/global/images/arrow-rgt-box.png) right 75% no-repeat !important; background:url(/global/images/arrow-rgt-box.gif) right 75% no-repeat}
a.nyroModalNext:hover{opacity:0.75; filter:alpha(opacity=75); background:url(/global/images/arrow-rgt-box.png) right 75% no-repeat !important; background:url(/global/images/arrow-rgt-box.gif) right 75% no-repeat}

/*------- Side Column Tabs ----------- */
html body #side-column-tabs{margin:10px 3px 0 2px; padding:0; clear:both}
html body #side-column-tabs .list2 ul li{margin:0 0 3px -10px; padding:0}
/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen{/* Use class for showing/hiding tab content,so that visibility can be better controlled in different media types... */.ui-tabs-hide{display:none}}
/* Hide useless elements in print layouts... */
@media print{.ui-tabs-nav{display:none}}

#side-column-tabs ul.ui-tabs-nav{ font-family:Helvetica,Arial,sans-serif;  font-size:110%; margin:0 0 0 9px; padding:0}
#side-column-tabs .ui-tabs-panel{ font-family:"Trebuchet MS",Trebuchet,Verdana,Helvetica,Arial,sans-serif;  font-size:100%}
#side-column-tabs .ui-tabs-nav{ list-style:none;  margin:0;  padding:0 0 0 20px}
#side-column-tabs .ui-tabs-nav:after{/* clearing without presentational markup,IE gets extra treatment */ display:block;  clear:both;  content:""}
#side-column-tabs .ui-tabs-nav li{ float:left;  margin:0 0 0 1px;  min-width:54px; /* be nice to Opera */}
#side-column-tabs .ui-tabs-nav a, #side-column-tabs .ui-tabs-nav a span{    float:left;     padding:0 7px;     background:url(/global/images/tab.png) no-repeat}
#side-column-tabs .ui-tabs-nav a{ margin:1px 0 0; /* position:relative makes opacity fail for disabled tab in IE */ padding-left:0;  color:#27537a;  font-weight:bold;  line-height:100%;  text-align:center;  text-decoration:none;  white-space:nowrap; /* required in IE 6 */  outline:0; /* prevent dotted border in Firefox */}
#side-column-tabs .ui-tabs-nav .ui-tabs-selected a{ position:relative;  top:1px;  z-index:2;  margin-top:0;  color:#666}
#side-column-tabs .ui-tabs-nav a span{ height:14px; /* IE 6 treats height as min-height */ line-height:14px;  padding-top:5px;  padding-right:0}
#side-column-tabs *>.ui-tabs-nav a span{/* hide from IE 6 */ width:auto;  height:auto}
#side-column-tabs .ui-tabs-nav .ui-tabs-selected a span{ padding-bottom:1px}
#side-column-tabs .ui-tabs-nav .ui-tabs-selected a, #side-column-tabs .ui-tabs-nav a:hover, #side-column-tabs .ui-tabs-nav a:focus, #side-column-tabs .ui-tabs-nav a:active{ background-position:100% -150px}
#side-column-tabs .ui-tabs-nav a, #side-column-tabs .ui-tabs-nav .ui-tabs-disabled a:hover, #side-column-tabs .ui-tabs-nav .ui-tabs-disabled a:focus, #side-column-tabs .ui-tabs-nav .ui-tabs-disabled a:active{ background-position:100% -100px}
#side-column-tabs .ui-tabs-nav .ui-tabs-selected a span, #side-column-tabs .ui-tabs-nav a:hover span, #side-column-tabs .ui-tabs-nav a:focus span, #side-column-tabs .ui-tabs-nav a:active span{ background-position:0 -50px}
#side-column-tabs .ui-tabs-nav a span, #side-column-tabs .ui-tabs-nav .ui-tabs-disabled a:hover span, #side-column-tabs .ui-tabs-nav .ui-tabs-disabled a:focus span, #side-column-tabs .ui-tabs-nav .ui-tabs-disabled a:active span{ background-position:0 0}
#side-column-tabs .ui-tabs-nav .ui-tabs-selected a:link, #side-column-tabs .ui-tabs-nav .ui-tabs-selected a:visited, #side-column-tabs .ui-tabs-nav .ui-tabs-disabled a:link, #side-column-tabs .ui-tabs-nav .ui-tabs-disabled a:visited{/* @ Opera,use pseudo classes otherwise it confuses cursor... */ cursor:text}
#side-column-tabs .ui-tabs-nav a:hover, #side-column-tabs .ui-tabs-nav a:focus, #side-column-tabs .ui-tabs-nav a:active, 
#side-column-tabs .ui-tabs-nav .ui-tabs-unselect a:hover, #side-column-tabs .ui-tabs-nav .ui-tabs-unselect a:focus, #side-column-tabs .ui-tabs-nav .ui-tabs-unselect a:active{/* @ Opera,we need to be explicit again here now... */ cursor:pointer}
#side-column-tabs .ui-tabs-disabled{ opacity:.4;  filter:alpha(opacity=40)}
#side-column-tabs .ui-tabs-panel{ border-top:1px solid #97a5b0;  padding:10px 0 0;  background:#f7f8fa; /* ==================================================================== declare background color ======== for container to avoid distorted fonts in IE while fading */}
#side-column-tabs .ui-tabs-loading em{    padding:0 0 0 20px;     background:url(/global/images/loading.gif) no-repeat 0 50%}
/* Additional IE specific bug fixes... */
* html .ui-tabs-nav{/* auto clear @ IE 6 &IE 7 Quirks Mode */ display:inline-block}
*:first-child+html .ui-tabs-nav{/* auto clear @ IE 7 Standards Mode - do not group selectors,otherwise IE 6 will ignore complete rule (because of the unknown+combinator)... */ display:inline-block}