<p>
<% for element in @elements
     @element=element
     @margin_depth = 0 %>
   <div id="<%= "#{@element.id}_div" %>">
<%   if @current.nil? || @current.empty? %>
<%=    render :partial => 'main/hierarchy/mixed_associations/contracted' %>
<%   else 
       index = @current.index(@element.id)
       if index.nil? %>
<%=      render :partial => 'main/hierarchy/mixed_associations/contracted' %>
<%     else
         @current.delete_at(index) %>
<%=      render :partial => 'main/hierarchy/mixed_associations/expanded' %>            
<%       @margin_depth = 0
       end
     end %>
   </div>
<% end %>
</p>