<%= display_if_not_blank Publisher.human_attribute_name('title').s, h(@publisher.title) %>
<%= display_if_not_blank Publisher.human_attribute_name('country_id').s, h(@publisher.country.header) %>

<p>&nbsp;<br/>
<% path = edit_publisher_path(@publisher)
   if authorized? path %>
<%=   link_to ts('edit.this'), path %> |
<%  end %>
<%= render :partial => 'persistent_links' %>
</p>
