<%= display_if_not_blank Publisher.human_attribute_name('title').s, h(@publisher.title) %>
<%= display_if_not_blank Publisher.human_attribute_name('country').s, h(@publisher.country.title) %>

<p>&nbsp;<br/>
<%  authorized_only hash_for_edit_publisher_path do %>
<%=   link_to ts('edit.this'), edit_publisher_path(@publisher) %> |
<%  end %>
<%= render :partial => 'persistent_links' %>
</p>
