<%= display_if_not_blank Sponsor.human_attribute_name('title').s, h(@sponsor.title).s %>
<p>&nbsp;<br/>
<% path = edit_sponsor_path(@sponsor)
   if authorized? path %>
<%=  link_to ts('edit.this'), path %> |
<% end %>
<%= render :partial => 'persistent_links' %>
</p>