<% caption_title = Caption.human_name.capitalize %>
<h1><%= ts :for, :what => t('new.record', :what => caption_title), :whom => "#{Medium.human_attribute_name(:id)}#{@medium.id}" %></h1>
<% form_for(:caption, :url => medium_captions_path(@medium)) do |f| %>
<%=  render :partial => 'form', :locals => {:f => f, :caption_title => caption_title} %>
     <p><%= globalized_submit_tag 'creat.e.this' %></p>
<% end %>
<p>&nbsp;<br/>
<%= render :partial => 'media/back_to_edit', :locals => {:anchor => 'captions'} %></p>