<% image = @medium.screen_size_image
   url = @medium.typescript.public_filename
   if !image.nil? %>
<%=  link_to image_tag(image.public_filename), url %>
<% end %>
<br/>
<p>
<%= link_to ts(:get, :what => Document.human_name), url %>
</p>