<%= render :partial => 'pictures/show' %>
<%  typescript = @medium.typescript
    url = (!typescript.nil? && typescript.content_type == 'application/pdf') ? typescript.public_filename : nil
    if !url.nil? %>
      <br/>
      <p><%= link_to(ts(:get, :what => Document.model_name.human), url) %></p>
<%  end %>