<%= display_if_not_blank Project.human_attribute_name('title').s, h(@project.title).s %>
<p>&nbsp;<br/>
<% path = edit_project_path(@project)
   if authorized? path %>
<%=  link_to ts('edit.this'), path %> |
<% end %>
<%= render :partial => 'persistent_links' %>
</p>