<div id="primary">
  <p>
    <b><%= ('Master %s'/@human_name.pluralize.capitalize.t).s %></b>  
<%  base_language_only do
      authorized_only hash_for_new_element_path do %>
        (<%= link_to_remote ('New master %s'/@human_name.t).s, :url => new_element_path, :update => 'secondary', :method => 'get' %>)
<%    end
    end %>
  </p>
  <div id="navigation" class="normal">
<%= render :partial => 'main/hierarchy/admin/index' %>
  </div>
</div>
<div id="secondary">
<p>&nbsp;<br/>
<%= render :partial => 'main/back_to_admin_or_media' %>
</p>
</div>