<% div_id = "media_full_size_#{@medium.id}" %>
<p id="<%= div_id %>">
<%= link_to "&#8592; Back to main view", medium_path(@medium), {:class => 'media-thumb thl-pop no-view-alone no-main-site-ajax padding-10', :onclick => "universal_navigation.loadTabsFor(#{@medium.id})"} %>
</p>
<div style="width: 100%; text-align: center;">
<%= image_tag(@medium.huge_image.public_filename, :style => "max-width: 900px; max-height: 500px; margin:0 auto;") %>
</div>
<%= javascript_tag "ActivateThlPopups('##{div_id}')" %>