<%  screen_size_image = @medium.screen_size_image
    large_image = @medium.large_image 
    image_tag = image_tag(screen_size_image.public_filename, :width => screen_size_image.width, :height => screen_size_image.height)
	  div_id = "media_large_#{@medium.id}"
 %>
<div id="<%= div_id %>">
<%= large_image.nil? ? image_tag : link_to(image_tag, full_size_medium_path(@medium), {:class => 'media-thumb overflow-x-auto thl-pop no-view-alone no-main-site-ajax padding-10 width-1000'}) %>
</div>
<%= javascript_tag "ActivateThlPopups('##{div_id}')" %>