<div id="secondary">
<%=  display_if_not_blank Medium.human_attribute_name(:id).s, "#{@medium.id} (#{link_to ts(:url_for_reference), medium_path(@medium)})".html_safe %>
<%= render :partial => 'show' %>
</div>
<div class="clear"></div>