<%= render :partial => 'show' %>
<p>&nbsp;<br/>
<%  path = edit_keyword_path(@keyword)
    if authorized? path %>
<%=   link_to ts('edit.this'), path %> |
<%  end %>
<%= render :partial => 'persistent_links' %>
</p>