<p>
<%= link_to(ts('results.previous'), media_path(pagination_params.merge({ :page => medium_pages.current.previous })), :remote => true) if medium_pages.current.previous %>
<%= pagination_links_each(medium_pages, {}) { |n| link_to(n.to_s, media_path(pagination_params.merge({ :page => n })), :remote => true) } %>
<%= link_to(ts('results.next'), media_path(pagination_params.merge({ :page => medium_pages.current.next })), :remote => true) if medium_pages.current.next %>
</p>