<% thumbnail = medium.thumbnail_image
   if thumbnail.nil? %>
     <td>&nbsp;</td>
<% else
     chosen_caption = chosen_caption(medium) %>
     <td width="95" height="95">
<%=    link_to image_tag(thumbnail.instance_of?(String) ? thumbnail : thumbnail.public_filename, width: 95, height: 95, alt: (chosen_caption.nil? ? nil : chosen_caption.title)), medium_path(medium), class: 'media-thumb', id: "thumb-#{medium.id}", remote: true %>
     </td>
<% end %>