<% thumbnail = medium.thumbnail_image
   if thumbnail.nil? %>
     <td>&nbsp;</td>
<% else %>
     <td width="<%= thumbnail.width %>" height="<%= thumbnail.height %>">
<%=    link_to image_tag(thumbnail.public_filename, :width => thumbnail.width, :height => thumbnail.height), medium_path(medium), :class => 'media-thumb', :remote => true %>
     </td>
<% end %>