<div id="secondary">
<%= render :partial => 'external' %>
<p>
| <%= link_to ts('back.to', :what => t('all.records', :what => Medium.model_name.human(:count => :many))), media_url %>
</p>
</div>
<div class="clear"></div>