<div id="primary">
<%= render :partial => 'media_searches/tabulated_search_results' %>
</div>
<div id="secondary">
</div>
<p>&nbsp;<br/>
<%= link_to ts('back.to', :what => t('all.these', :what => Medium.human_name(:count => :many))), media_path %>
</p>