<div id="primary">
<h4><%= ts 'new.record', :what => t('search.record', :what => Medium.human_name(:count => :many).titleize) %></h4>
<p>
<%= render :partial => 'advanced' %>
</p>
</div>
<div id="secondary">
</div>