<div id="primary">
<h2><%= ts 'new.record', :what => t('search.record', :what => Medium.human_name(:count => :many).titleize) %></h2>
<p>
<%= render :partial => 'advanced' %>
</p>
</div>
<div id="secondary">
</div>
<p>&nbsp;<br/>
<%= link_to ts('back.to', :what => t(:all, :what => Medium.human_name(:count => :many).titleize)), media_path %>
</p>
