<div id="secondary">
<%= render :partial => 'media_searches/paged_documents_full' %>
</div>
<p>&nbsp;<br/>
<%= link_to ts('back.to', :what => t(:all, :what => Medium.human_name(:count => :many))), media_path %>
</p>