<h2>Media Associated with <%= @place.header %></h2>
<% if !@pictures.nil? || !@videos.nil? || !@documents.nil? %>
<%=  render :partial => 'media/index' %>
<% elsif !@media.nil? %>
<%=  render :partial => 'media/paged_index' %>
<% end %>
<p><%= link_to ts(:in, :what => @place.header, :where => 'Places'), Feature.element_url(@place.fid) %></p>